@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fafafa;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  color: #3d5a80;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

button {
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  color: black;
  font-weight: 600;
  background-color: #ffb627;
  font-size: 1rem;
}
button:hover {
  background-color: #ee6c4d;
  color: black;
  font-weight: 600;
}

header {
  background-color: #3d5a80;
  min-height: 70px;
  position: sticky;
  top: 0;
}

.company {
  display: flex;
  align-items: center;
}
.company img {
  width: 50px;
  margin-right: 5px;
}

.navbar-brand {
  color: #fafafa;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.7rem;
}

.fontsNav {
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  margin: 5px;
  line-height: 40px;
  color: #fafafa;
  padding: 5px;
  border-radius: 10px;
}
nav li a:hover {
  color: black;
  background-color: #fafafa;
}

.navbar-toggler {
  background-color: #e1e1e1;
}

.banner {
  background-image: url("../imgs/banner.jpg");
  background-size: cover;
  background-position: top;
  height: 25vh;
  display: flex;
  justify-content: start;
  align-items: end;
  padding-bottom: 20px;
}

.heroHome {
  background-image: url("../imgs/bg-home.jpg");
  background-size: cover;
  background-position: top;
  height: calc(100vh - 76px - 42.8px);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.heroHome h1 {
  color: #fafafa;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  text-align: start;
}
.heroHome p {
  color: #e1e1e1;
  font-weight: 600;
}

.aboutUs h2 {
  text-align: center;
  padding: 1.5rem 0rem;
}
.aboutUs p {
  text-align: start;
  padding: 0rem 2rem 1.5rem 2rem;
}

.productsCard img {
  padding: 20px 40px 0px 40px;
}
.productsCard h2 {
  font-size: 1.2rem;
}
.productsCard p {
  font-size: 0.8rem;
}
.productsCard h3 {
  font-size: 0.8rem;
}
.productsCard button {
  font-size: 0.8rem;
}
.productsCard h3 {
  font-size: 1rem;
}

.servicesCard {
  display: flex;
  flex-direction: row;
}
.servicesCard img {
  max-width: 40%;
}
.servicesCard h2 {
  font-size: 1.2rem;
}
.servicesCard p {
  font-size: 0.8rem;
}
.servicesCard h3 {
  font-size: 0.8rem;
}
.servicesCard button {
  font-size: 0.8rem;
}

.servicesCardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactInfo p {
  color: #ee6c4d;
  font-weight: 600;
}

form {
  padding: 20px 0px;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input[type=text],
input[type=number],
input[type=email] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.whatsApp {
  width: 60px;
  position: fixed;
  bottom: 40px;
  right: 30px;
}

footer {
  font-size: 0.8rem;
  padding: 10px 0px;
  background-color: #3d5a80;
  color: #fafafa;
  height: calc(0.8rem + 30px);
  text-align: center;
}

@media (min-width: 760px) {
  .heroHome p {
    color: #e1e1e1;
    font-weight: 600;
    max-width: 50%;
  }
  .productsCard h2 {
    font-size: 1.8rem;
  }
  .productsCard p {
    font-size: 1rem;
  }
  .productsCard h3 {
    font-size: 1.5rem;
  }
  .productsCard button {
    font-size: 1rem;
  }
  .servicesCard {
    display: flex;
    flex-direction: row;
  }
  .servicesCard img {
    max-width: 40%;
  }
  .servicesCard h2 {
    font-size: 1.5rem;
  }
  .servicesCard p {
    font-size: 0.9rem;
  }
  .servicesCard h3 {
    font-size: 0.9rem;
  }
  .servicesCard button {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.9rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .heroHome h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .heroHome p {
    font-size: 1.2rem;
  }
  .heroHome button {
    font-size: 1.5rem;
  }
  .aboutUs p {
    padding: 0rem 4rem 2rem 4rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
