* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #3d5a80;
	min-height: 70px;
	position: sticky;
	top: 0;
}

.navbar-brand {
	color: #fafafa;
	font-weight: 500;
	letter-spacing: 0.1rem;
	font-size: 2rem;
}

.fontsNav {
	font-size: 1rem;
}

nav li a {
	text-decoration: none;
	margin: 5px;
	line-height: 40px;
	color: #fafafa;
	padding: 5px;
	border-radius: 10px;
}

nav li a:hover {
	color: black;
	background-color: #fafafa;
}

.navbar-toggler {
	background-color: lightgray;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #fafafa;
}

h2 {
	font-size: 1.8rem;
	font-weight: 600;
}

p {
	font-size: 1rem;
}

.heroHome {
	background-image: url('../imgs/bg-home.jpg');
	background-size: cover;
	background-position: top;
	/* height: 50vh; */
	height: calc(100vh - 74px - 42.8px);
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.heroHome h1 {
	color: #fafafa;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	line-height: 3rem;
	text-align: start;
}

.heroHome p {
	color: #e1e1e1;
	font-weight: 600;
}

.heroHome button {
	border: none;
	border-radius: 7px;
	padding: 5px 10px;
	color: black;
	font-weight: 600;
	background-color: #ffb627;
	font-size: 1rem;
}

.heroHome button:hover {
	background-color: #ee6c4d;
	color: black;
	font-weight: 600;
}

footer {
	font-size: 0.8rem;
	padding: 10px 0px;
	background-color: #3d5a80;
	color: #fafafa;
	height: calc(0.8rem + 30px);
	text-align: center;
}

.construction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: calc(100vh - 74px - 42.8px);
	padding: 50px 30px;
	gap: 20px;
}

.construction h1 {
	color: black;
	font-size: 2.5rem;
	font-weight: 600;
}

.construction img {
	max-height: 50%;
	max-width: 100%;
}

.construction p {
	font-size: 1.2rem;
}

.banner {
	background-image: url('../imgs/banner.jpg');
	background-size: cover;
	background-position: top;
	height: 25vh;
	display: flex;
	justify-content: start;
	align-items: end;
	padding-bottom: 20px;
}

.aboutUs h2 {
	text-align: center;
	padding: 1.5rem 0rem;
}

.aboutUs p {
	text-align: start;
	padding: 0rem 2rem 1.5rem 2rem;
}

form {
	padding: 20px 0px;
}

label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
	color: black;
}

input[type='text'],
input[type='number'],
input[type='email'],
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 1rem;
	margin-bottom: 15px;
}

.button {
	background-color: #ffb627;
	color: black;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	margin-right: 20px;
}

.contactInfo p {
	color: #ee6c4d;
	font-weight: 600;
}

.whatsApp {
	width: 60px;
	position: fixed;
	bottom: 40px;
	right: 30px;
}

@media (min-width: 768px) {
	.heroHome p {
		color: #e1e1e1;
		font-weight: 600;
		max-width: 50%;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 2.9rem;
	}
	h2 {
		font-size: 2rem;
	}

	p {
		font-size: 1.2rem;
	}

	.heroHome h1 {
		font-size: 2.5rem;
		line-height: 4rem;
	}

	.heroHome p {
		font-size: 1.2rem;
	}

	.heroHome button {
		font-size: 1.5rem;
	}

	.aboutUs p {
		padding: 0rem 4rem 2rem 4rem;
	}

	footer p {
		font-size: 0.8rem;
	}
}
